.header {
  position: sticky;
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 1;
}
.headerLogo {
  width: 200px;
  object-fit: contain;
  margin-left: 60px;
  margin-top: 10px;
}

.logoutButton {
  width: 100px;
  color: white;
  background-color: rgb(122, 167, 184);
  font-weight: 500;
  border-radius: 5px;
}

.headerNavbar {
  display: flex;
  /* justify-content: center;
  align-content: center;*/
  justify-items: center;
  /* align-items: center; */
  margin-left: 26%;
}
.headerHome {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 750;
  color: rgb(12, 7, 83);
}

.headerProfile {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 750;
  color: rgb(12, 7, 83);
}
.headerSignin {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 750;
  color: rgb(12, 7, 83);
}
.headerSignup {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 25px;
  font-size: 18px;
  font-weight: 750;
  color: rgb(12, 7, 83);
}

.headerUser {
  font-weight: 650;
  margin-left: 15px;
  margin-right: 35px;
  margin-top: -1.6px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: rgb(12, 7, 83) !important;
}

.headerCart {
  display: flex;
  align-items: center;
  height: 30px;
}

.MuiSvgIcon-root {
  color: rgb(12, 7, 83) !important;
}

.headerCartCount {
  margin-left: 3px;
  margin-right: 40px;
  font-weight: 750;
  font-size: 18px;
}
