#signup-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  border: 1px solid darkgray;
  background-color: white;
}

#signup-div {
  max-height: 100%;
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

#signup-form > * {
  margin: 15px;
  overflow: hidden;
  border-radius: 5px;
}

.MuiButton-containedPrimary {
  background-color: rgb(122, 167, 184) !important;
}

.h1 {
  font-weight: 2000;
}
